/* Sidebar.css */
.sidebar {
  width: 200px;
  background-color: #343434;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  align-items: center;
}
.sidebar h2 {
  margin-bottom: 40px;
}
.sidebar nav ul {
  list-style: none;
  padding: 20px;
  
}
.sidebar nav ul li {
  margin: 20px 0;
}
.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar nav ul li a.active {
  font-weight: bold;
  color: #8af77b;
}

/* Header.css */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9fec8;
  padding: 15px 30px;
  margin-left: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dashboard-header h1 {
  margin: 0;
}
.dashboard-header button {
  padding: 8px 16px;
  background-color: #d80000;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

/* BalanceOverview.css */
.balance-overview {
  display: flex;
  gap: 20px;
  margin: 30px;
  margin-left: 280px;
}
.balance-card {
  flex: 1;
  background-color: #8af77b;
  padding: 20px;
  border-radius: 8px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.balance-card h3 {
  margin-bottom: 10px;
}

/* RecentActivity.css */
.recent-activity {
  background-color: #ffffff;
  margin: 20px 30px;
  padding: 20px;
  margin-left: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.recent-activity ul {
  list-style: none;
  padding: 0;
}
.recent-activity li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

/* GroupSummary.css */
.group-summary {
  background-color: #ffffff;
  margin: 20px 30px;
  padding: 20px;
  margin-left: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.group-summary ul {
  list-style: none;
  padding: 0;
}
.group-summary li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

/* Dashboard.css */
.dashboard-container {
  
  display: flex;
}
.dashboard-main {
  flex: 1;
  margin-left: 40px;
  padding-top: 20px;
  background-color: #c9fec8;
  min-height: 100vh;
}
